/**
 * Created by pw on 14-9-22.
 */

.netdisk {
    min-height: 500px;
}

.netdisk-toolbar {
    padding-bottom: 5px;
    border-bottom: 1px solid #D9D9D9;
    height: 37px;
}

.netdisk-toolbar-btns {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #ffffff;
}

.netdisk-toolbar-btns > li {
    display: inline-block;
    padding: 0 13px;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    color: #536083;
    border-right: 1px solid #D9D9D9;
    cursor: pointer;
}

.netdisk-toolbar-btns > li > .fa {
    padding-right: 5px;
}

.netdisk-toolbar-btns > li:hover > .fa {
    color: #007AFF;
}

.netdisk-toolbar-btns > li:last-child {
    border-right: none;
}

.netdisk-toolbar-btns.list-mode-switch {
    float: right;
    border: none;
}

.netdisk-toolbar-btns.list-mode-switch > li {
    border: none;
    padding: 2px 0px;
}

.netdisk-toolbar-btns.select-btns {
    display: none;
}

.netdisk-toolbar-btns.select-btns > li {
    display: none;
}

.netdisk-toolbar-btns.select-btns.single {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.multi {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.single > li.single {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.multi > li.multi {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns > li {
    display: none;
}

.default-btns-upload {
    border: 1px solid #007AFF;
    border-radius: 4px;
}

.default-btns-upload > li {
    background: #007AFF;
    color: #ffffff;
}

.default-btns-upload > li:hover {
    color: #D9D9D9;
}

.default-btns-upload > li:hover > .fa {
    color: #D9D9D9;
}

.list-mode-switch > li {
    color: #D9D9D9;
}

.list-mode-switch > li.active {
    color: #007AFF;
}

.netdisk-crumbs {
    padding: 10px 5px;
}

.netdisk-crumbs > ul > li {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    color: #3083eb;
    cursor: pointer;
}

.netdisk-crumbs > ul > li:hover {
    text-decoration: underline;
}

.netdisk-crumbs > ul > li:last-child:after {
    content: "";
}

.netdisk-crumbs > ul > li:after {
    content: ">";
    position: absolute;
    right: 5px;
    top: 0;
    color: #000;
}

.netdisk-crumbs > ul {
    display: inline-block;
}

.netdisk-list-num {
    display: inline-block;
    float: right;
}

.netdisk-list-toolbar {
    background: #F7F7F7;
    border-radius: 2px;
    border: 1px solid #D2D2D2;
    padding: 5px 11px;
    height: 30px;
}

.netdisk-list > ul > li {
    display: inline-block;
    padding: 9px 0px 9px 0px;
    width: 110px;
    color: #4D4D4D;
    position: relative;
}

.netdisk-list > ul > li > div {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
}

.netdisk-list > ul > li:hover {
    background: #e9ecf2;
}

.netdisk-list > ul > li .file-size {
    width: 100%;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.netdisk-list > ul > li .file-type {
    width: 64px;
    height: 64px;
    margin: 5px auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
}

.netdisk-list > ul > li .file-nm {
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 0 5px;
}

.netdisk-list > ul > li .file-nm > span {
    display: inline-block;
    padding: 4px 0;
    line-height: 16px;
    width: 100%;
    height: 40px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    text-align: center;
}

.netdisk-list > ul > li .file-nm > span:hover {
    text-decoration: underline;
}

.netdisk-list > ul > li .file-nm:hover {
    cursor: pointer;
    text-decoration: underline;
}

.netdisk-list > ul > li > input {
    margin-left: 12px;
}

.netdisk-list > ul > li.active {
    border: 2px solid rgba(0, 122, 255, 0.6);
}

.netdisk-list > ul > li .file-size {
    display: none;
}

.netdisk-list > ul > li .file-createTime {
    display: none;
}

.netdisk-list > ul > li .file-type-list {
    display: none;
}

/*列表模式*/

.netdisk-list.list-view {
}

.netdisk-list.list-view > ul > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.netdisk-list.list-view > ul > li > input {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 7px 0 10px;
}

.netdisk-list.list-view > ul > li > div {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.netdisk-list.list-view > ul > li .file-type {
    display: none;
}

.netdisk-list.list-view > ul > li .file-type-list {
    width: 24px;
}

.netdisk-list.list-view > ul > li .file-nm {
    width: 55%;
    text-align: left;
    padding-left: 5px;
}

.netdisk-list.list-view > ul > li .file-size {
    width: 10%;
}

.netdisk-list.list-view > ul > li .file-createTime {
    width: 20%;
}

.netdisk-loading {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #007AFF;
    margin: 50px auto;
    display: none;
}

.cate-filter {
    display: inline-block;
    float: right;
    /* height: 100px; */
}

.cate-filter > li {
    display: inline-block;
    padding: 0 3px;
    color: #D9D9D9;
}

.cate-filter > li:hover {
    color: #007AFF;
    cursor: pointer;
}

.cate-filter > li.active {
    color: #007AFF;
}

.open-file-container {
    width: 100%;
    height: 100%;
}

.open-file {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto vertical-align : middle;
}

.zpreview-title {
    width: 100%;
    height: 40px;
    background-color: #007AFF;
    border-radius: 6px 6px 0 0;
    position: absolute;
}

.zpreview-title > span, .zpreview-title > a {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: left;
    display: inline-block;
    margin: 8px 0 0 20px;
    color: #fff;
    font-size: 16px;
}

.zpreview-title > span.pre-docinfo {
    margin: 8px 0 0 5px;
    color: #ff0000;
}

.zpreview-title .pre-download {
    cursor: pointer;
    float: right;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #eee;
    padding: 0 15px;
    font-size: 14px;
    text-decoration: none;
    margin: 8px 20px;
}

.zpreview-title .pre-download:hover {
    background-color: #fff;
    color: #007AFF;
}

.zpreview-body {
    padding-top: 40px;
    height: 100%;
}

.zpreview-body-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
}

.zpreview-doc {
    height: 100%;
    margin-right: 350px;
    padding: 15px;
}

.zpreview-doc-show {
    width: 100%;
    height: 100%;
    position: relative;
}

.zpreview-prop {
    position: absolute;
    right: 0;
    top: 0;
    width: 349px;
    height: 100%;
    background-color: #666;
    border-left: 1px dotted #888;
    padding: 5px;
    overflow-y: auto;
}

.zpreview-prop-key {
    padding: 5px;
    color: #FF4;
    text-align: right;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
}

.zpreview-prop-val {
    padding: 5px;
    color: #FFF;
    font-weight: bold;
    font-family: Courier;
    text-shadow: 1px 1px 1px #666;
    word-break: break-all;
    word-wrap: break-word;
}

.zpreview-doc-text {
    font-family: Courier;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 20px;
    color: #EE0;
}

.netdisk-delete-list {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.netdisk-delete-list-log {
    width: 100%;
    color: #0f0;
    overflow: auto;
    font-size: 12px;
    font-family: Courier;
    height: 20px;
}

.trans-label {
    padding: 10px 15px;
    font-size: 14px;
    color: #FFFF00;
}

.trans-info {
    padding: 5px;
    color: #fff;
}

.trans-info b {
    display: inline-block;
    width: 80px;
    padding: 0 15px;
    text-align: right;
}

.trans-cutAs {
    margin: 10px;
}

.trans-wh {
    margin: 10px;
}

.trans-info input {
    border: 1px solid #888;
    border-radius: 6px;
    width: 55px;
    padding-left: 10px;
    margin: 0 5px;
}

.file-icons {
}

.file-tip {
    position: absolute;
}

.file-tip.video-trans-stat {
    width: 16px;
    height: 16px;
    top: 22px;
    right: 16px;
    color: #f00;
}


.file-tip.video-cutAs {
    /* width: 30px; */
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    background-color: #007AFF;
    bottom: 64px;
    right: 12px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    border-radius: 6px;
}