/**
 * Created by pw on 14-9-22.
 */

/*64px大小的icon*/

.zui-icon-24 {
    width: 24px;
    height: 24px;
    background: url("zui.icons.png") no-repeat;
    background-position: -16px 0px;
}

/*图片*/
.zui-icon-24.png {
    background-position: -16px -24px;
}

.zui-icon-24.bmp {
    background-position: -16px -48px;
}

.zui-icon-24.gif {
    background-position: -16px -72px;
}

.zui-icon-24.jpg, .zui-icon-24.jpeg {
    background-position: -16px -96px;
}

.zui-icon-24.tif {
    background-position: -16px -120px;
}

.zui-icon-24.txt {
    background-position: -16px -144px;
}

/*文本*/
.zui-icon-24.mov {
    background-position: -16px -168px;
}

/*视频*/
.zui-icon-24.mp4 {
    background-position: -16px -192px;
}

.zui-icon-24.avi {
    background-position: -16px -216px;
}

.zui-icon-24.wmv {
    background-position: -16px -240px;
}

.zui-icon-24.mpg {
    background-position: -16px -264px;
}

.zui-icon-24.mvk {
    background-position: -16px -288px;
}

/*压缩包*/
.zui-icon-24.rar {
    background-position: -16px -312px;
}

.zui-icon-24.tar {
    background-position: -16px -336px;
}

.zui-icon-24.zip {
    background-position: -16px -360px;
}

.zui-icon-24.csv {
    background-position: -16px -384px;
}

/*office*/

.zui-icon-24.xls {
    background-position: -16px -408px;
}

.zui-icon-24.xlsx {
    background-position: -16px -432px;
}

.zui-icon-24.doc {
    background-position: -16px -456px;
}

.zui-icon-24.docx {
    background-position: -16px -480px;
}

.zui-icon-24.ppt {
    background-position: -16px -504px;
}

.zui-icon-24.pptx {
    background-position: -16px -528px;
}

.zui-icon-24.dir {
    background-position: -16px -552px;
}

.zui-icon-24.js, .zui-icon-24.json {
    background-position: -16px -576px;
}

.zui-icon-24.screen {
    background-position: -16px -600px;
}

/*64px大小的icon*/

.zui-icon-64 {
    width: 64px;
    height: 64px;
    background: url("zui.icons.png") no-repeat;
    background-position: -120px 0px;
}

/*图片*/
.zui-icon-64.png {
    background-position: -120px -64px;
}

.zui-icon-64.bmp {
    background-position: -120px -128px;
}

.zui-icon-64.gif {
    background-position: -120px -192px;
}

.zui-icon-64.jpg, .zui-icon-64.jpeg {
    background-position: -120px -256px;
}

.zui-icon-64.tif {
    background-position: -120px -320px;
}

.zui-icon-64.tif {
    background-position: -120px -320px;
}

/*文本*/
.zui-icon-64.txt {
    background-position: -120px -384px;
}

/*视频*/
.zui-icon-64.mov {
    background-position: -120px -448px;
}

.zui-icon-64.mp4 {
    background-position: -120px -512px;
}

.zui-icon-64.avi {
    background-position: -120px -576px;
}

.zui-icon-64.wmv {
    background-position: -120px -640px;
}

.zui-icon-64.mpg {
    background-position: -120px -704px;
}

.zui-icon-64.mvk {
    background-position: -120px -768px;
}

/*压缩包*/
.zui-icon-64.rar {
    background-position: -120px -832px;
}

.zui-icon-64.tar {
    background-position: -120px -896px;
}

.zui-icon-64.zip {
    background-position: -120px -960px;
}

/*office*/

.zui-icon-64.csv {
    background-position: -120px -1024px;
}

.zui-icon-64.xls {
    background-position: -120px -1088px;
}

.zui-icon-64.xlsx {
    background-position: -120px -1152px;
}

.zui-icon-64.doc {
    background-position: -120px -1216px;
}

.zui-icon-64.docx {
    background-position: -120px -1280px;
}

.zui-icon-64.ppt {
    background-position: -120px -1344px;
}

.zui-icon-64.pptx {
    background-position: -120px -1408px;
}

.zui-icon-64.dir {
    background-position: -120px -1472px;
}

.zui-icon-64.js, .zui-icon-64.json {
    background-position: -120px -1536px;
}

.zui-icon-64.screen {
    background-position: -120px -1600px;
}