/**
 * Created by pw on 14-9-22.
 */

.netdisk {
    min-height: 500px;
}

.netdisk-toolbar {
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.netdisk-toolbar-btns {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #ffffff;
}

.netdisk-toolbar-btns > li {
    display: inline-block;
    padding: 0 13px;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    color: #536083;
    border-right: 1px solid #D9D9D9;
    cursor: pointer;
}

.netdisk-toolbar-btns > li > .fa {
    padding-right: 5px;
}

.netdisk-toolbar-btns > li:hover > .fa {
    color: #007AFF;
}

.netdisk-toolbar-btns > li:last-child {
    border-right: none;
}

.netdisk-toolbar-btns.list-mode-switch {
    float: right;
    border: none;
}

.netdisk-toolbar-btns.list-mode-switch > li {
    border: none;
    padding: 2px 0px;
}

.netdisk-toolbar-btns.select-btns {
    display: none;
}

.netdisk-toolbar-btns.select-btns > li {
    display: none;
}

.netdisk-toolbar-btns.select-btns.single {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.multi {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.single > li.single {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns.multi > li.multi {
    display: inline-block;
}

.netdisk-toolbar-btns.select-btns > li {
    display: none;
}

.default-btns-upload {
    border: 1px solid #007AFF;
    border-radius: 4px;
}

.default-btns-upload > li {
    background: #007AFF;
    color: #ffffff;
}

.default-btns-upload > li:hover {
    color: #D9D9D9;
}

.default-btns-upload > li:hover > .fa {
    color: #D9D9D9;
}

.list-mode-switch > li {
    color: #D9D9D9;
}

.list-mode-switch > li.active {
    color: #007AFF;
}

.netdisk-crumbs {
    padding: 10px 5px;
}

.netdisk-crumbs > ul > li {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    color: #3083eb;
    cursor: pointer;
}

.netdisk-crumbs > ul > li:hover {
    text-decoration: underline;
}

.netdisk-crumbs > ul > li:last-child:after {
    content: "";
}

.netdisk-crumbs > ul > li:after {
    content: ">";
    position: absolute;
    right: 5px;
    top: 0;
    color: #000;
}

.netdisk-crumbs > ul {
    display: inline-block;
}

.netdisk-list-num {
    display: inline-block;
    float: right;
}

.netdisk-list-toolbar {
    background: #F7F7F7;
    border-radius: 2px;
    border: 1px solid #D2D2D2;
    padding: 5px 11px;
    height: 30px;
}

.netdisk-list > ul > li {
    display: inline-block;
    padding: 9px 0px 9px 0px;
    width: 110px;
    color: #4D4D4D;
}

.netdisk-list > ul > li > div {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
}

.netdisk-list > ul > li:hover {
    background: #f3f6fc;
}

.netdisk-list > ul > li .file-size {
    width: 100%;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.netdisk-list > ul > li .file-type {
    width: 64px;
    height: 64px;
    margin: 5px auto;
    display: block;
}

.netdisk-list > ul > li .file-nm {
    width: 100%;
    white-space: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.netdisk-list > ul > li .file-nm:hover {
    cursor: pointer;
    text-decoration: underline;
}

.netdisk-list > ul > li > input {
    margin-left: 12px;
}

.netdisk-list > ul > li.active {
    border: 2px solid rgba(0, 122, 255, 0.6);
}

.netdisk-list > ul > li .file-size {
    display: none;
}

.netdisk-list > ul > li .file-createTime {
    display: none;
}

.netdisk-list > ul > li .file-type-list {
    display: none;
}

/*列表模式*/

.netdisk-list.list-view {
}

.netdisk-list.list-view > ul > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.netdisk-list.list-view > ul > li > input {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 7px 0 10px;
}

.netdisk-list.list-view > ul > li > div {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.netdisk-list.list-view > ul > li .file-type {
    display: none;
}

.netdisk-list.list-view > ul > li .file-type-list {
    width: 24px;
}

.netdisk-list.list-view > ul > li .file-nm {
    width: 55%;
    text-align: left;
    padding-left: 5px;
}

.netdisk-list.list-view > ul > li .file-size {
    width: 10%;
}

.netdisk-list.list-view > ul > li .file-createTime {
    width: 20%;
}

.netdisk-loading {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #007AFF;
    margin: 50px auto;
    display: none;
}

.cate-filter {
    display: inline-block;
    float: right;
    /* height: 100px; */
}

.cate-filter > li {
    display: inline-block;
    padding: 0 3px;
    color: #D9D9D9;
}

.cate-filter > li:hover {
    color: #007AFF;
    cursor: pointer;
}

.cate-filter > li.active {
    color: #007AFF;
}

.open-file-container {
    width: 100%;
    height: 100%;
}

.open-file {
    width: 100%;
    height: 100%;
    display: block;
    margin:0 auto
    vertical-align:middle;
}